* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.317);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{

  width: 50%;
}

.inp-container {
  padding: 10px;
  margin-bottom: 20px;
}

.inp-container input {
  padding: 10px 20px;
  margin-right: 10px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.inp-container button {
  padding: 10px 40px;
  background-color: rgb(20, 110, 207);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.list-conatiner {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  width: 100%;
}

.list-conatiner button {
  padding: 5px 30px;
  background-color: rgb(20, 110, 207);
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.btns{
  display: flex;
  gap: 20px;
}

#del{
  background-color: rgb(226, 36, 36);
}
